name: Build rock

on:
  workflow_call:
  pull_request:

jobs:
  build:
    runs-on: [self-hosted-linux-arm64-jammy-large]
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup LXD
        uses: canonical/setup-lxd@main
      - name: Install dependencies
        run: |
          sudo snap install yq
          sudo snap install rockcraft --classic --edge
      - name: Build ROCK
        run: |
          cd airbyte_rock
          app_version=$(yq '.version' rockcraft.yaml)
          version=$(yq '(.version|split("-"))[0]' rockcraft.yaml)
          base=$(yq '(.base|split("@"))[1]' rockcraft.yaml)
          risk=edge
          tag=${version}-${base}-${risk}

          sed -i "0,/${app_version}/{s//${tag}/}" rockcraft.yaml
          rockcraft pack --destructive-mode --verbose
          ls -la

      - name: Upload locally built ROCK artifact
        uses: actions/upload-artifact@v4
        with:
          name: airbyte-rock
          path: "airbyte*.rock"
