name: Integration tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.34-strict/stable
      modules: '["test_charm.py"]'
      juju-channel: 3.6/stable
      self-hosted-runner: true
      self-hosted-runner-label: "self-hosted-linux-amd64-noble-xlarge"
      builder-runner-label: "self-hosted-linux-amd64-noble-xlarge"
      microk8s-addons: "dns ingress rbac storage metallb:10.15.119.2-10.15.119.4 registry"
      trivy-severity-config: CRITICAL
      rockcraft-enable-security-nesting: true
      tmate-debug: true
